# Conexión a Base de Datos (URL interna de Docker o localhost para Prisma local)
DATABASE_URL="postgresql://usuario:password@localhost:5432/nombre_db"

# Secreto para firmar los tokens de sesión (Generar con: openssl rand -base64 32)
AUTH_SECRET="tu_string_super_largo_y_secreto"

# URL base de la aplicación (Necesario para producción/Docker)
AUTH_URL="http://localhost:3000"